!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Arrive
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = favicon_link_tag 'favicon.ico'
    = csrf_meta_tags
  %body
    %header.navigation
      .navigation-wrapper
        %a#js-mobile-menu.navigation-menu-button MENU
        %nav
          %ul#js-navigation-menu.navigation-menu.show
            %li.nav-link
              = link_to "Admissions@CSE.IITK", root_path
    = yield
